<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video-Call</title>
    <link rel="stylesheet" href="../../call.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://unpkg.com/peerjs@1.2.0/dist/peerjs.min.js"></script>
    <script src="https://kit.fontawesome.com/c939d0e917.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        var callId="<%=callId%>"
        var callerHandlename="<%=query.callingUser%>" 
        var name="<%= currentUser.name %>"
        var recieverHandlename=  "<%=query.recievingUser%>" 
        var portForPeer="<%= portForPeer %>";
    </script>
    <script src="/socket.io/socket.io.js" ></script>
    <script>
        var socket=io();
    </script>
    <link rel="stylesheet" href="./../../modal.css">
</head>
<body>

    <audio id="chatAudio" >
        <source src="https://media.geeksforgeeks.org/wp-content/uploads/20190531135120/beep.mp3" type="audio/mpeg">
    </audio>

     <!--Modal alert box code starts here-->
     <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <!-- <span class="close">&times;</span> -->
            <h5 id="alertHead" style="color: #17a2b8;"></h5>
            <p id="alertMessage" style="color: #17a2b8;"></p>
            <button id="ok" class="btn btn-info btn-block" style="width:50%;position:relative;left: 25%; display: none;"></button>
            <button id="no" class="btn btn-danger btn-block my-3" style="width:50%;position:relative;left: 25%; display: none;"></button>
        </div>     
    </div>
    <!--Modal alert box code starts here--> 
    <!--Modal alert box script tag--> 
    <script src="./../../modal.js"></script> 


    <div class="main row no-gutters" style="width: 100%;height: 100%;">
        <div class="main_left">
            <!--Videos div-->
            <div class="main_videos">
                <div id='video-grid'>     
                </div>
            </div>
            <!--Videos div end-->
            <!--Buttons Div-->
            <div class="main_controls">           
                <div class="main_controls_block">
                    <div class="main_controls_time">
                      <h2 id="time"></h2>
                    </div>
                </div>

                <div class="main_controls_block">
                    <div class="main_controls_button main_mute_button">
                        <i  onclick="muteUnmute()" class="fas fa-microphone"></i>
                        <h5 onclick="muteUnmute()">Mute</h5>
                    </div>
                    <div class="main_controls_button main_video_button"> 
                        <i  onclick="playStop()" class="fas fa-video"></i>
                        <h5  onclick="playStop()">Stop Video</h5>
                    </div>
                    <div class="main_controls_button">
                        <a style="text-decoration: none;color:black" href="/leaveCall"><i class="fas fa fa-phone" style="transform: rotateZ(224deg);"></i></a>
                        <a style="text-decoration: none;color:black" href="/leaveCall"><h5>Leave</h5></a>
                    </div>    
                </div>

                <div class="main_controls_block">
                    <div class="main_controls_button">
                        <i class="fas fa-comment-alt" onclick="displayChats()"></i>
                        <h5 onclick="displayChats()">Chat</h5>
                        <div id="chat-dot"></div>
                    </div>
                </div>
            </div>
            <!--Buttons Div end-->
        </div>


        <div class="main_right">
            <!--Chat Box div-->
            <div id="chat_div">
                <div class="main_header">
                    <h1>Chats</h1>
                </div>
                <div class="main_chat_window">
                    <ul class="messages">
                    </ul>
                </div>
                <div class="main_message_container">
                    <input id="chat_message" type="text" placeholder="Type message here...">
                </div>
            </div> 
            <!--Chat Box div end-->        
        </div>
    </div>

    <script>
        //This event is listened when the reciever rejects the call
        socket.on('call-declined-by-reciever',function(){
            okButton.innerHTML="OK"
            okButton.style.display="block";
            displayAlert("Call Declined","Notification")
        //    window.alert("Call Declined")
           okButton.onclick=function(){
                window.close();
           }     
        })

        //This event is listened when the people in the call are more than 2 
        socket.on('limit-exceded-in-call-alert',function(){
            okButton.innerHTML="OK"
            okButton.style.display="block";
            displayAlert("You are already on this call","Notification")
           okButton.onclick=function(){
            window.location.href="/abcdefghijklmnopqrstuvwyz";
           }  
            // window.alert('You are already on this call')    
        })
    </script>

    <script>
        //Script for showing and hiding chat box
        var rightDiv=document.getElementsByClassName("main_right");
        var chatDiv=document.getElementById("chat_div");
        var chatDot=document.getElementById("chat-dot");
        function displayChats(){
            if(!rightDiv[0].style.display && !chatDiv.style.display){      
                rightDiv[0].style.display="flex";
                chatDiv.style.display="flex";
                chatDot.style.display="none";
            }else if(rightDiv[0].style.display==="none" && chatDiv.style.display==="none"){
                rightDiv[0].style.display="flex";
                chatDiv.style.display="flex";
                chatDot.style.display="none";
            }else if(!chatDiv.style.display && rightDiv[0].style.display==="none"){
                rightDiv[0].style.display="flex";
                chatDiv.style.display="flex";
                chatDot.style.display="none";
            }else if(rightDiv[0].style.display==="flex" && chatDiv.style.display==="flex"){
                rightDiv[0].style.display="none";
                chatDiv.style.display="none";
            }
        }
    </script>

    <script src="./../../call.js">

    </script>
</body>
</html>