<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        body{
            background-color: #17a2b8;
        }
        .dropdown-menu{
            left:-95px;
        }
        .dropdown-item{
            color:#007bff;
        }
        #form-color{
            background-color: #EAEAEA;
            border-radius: 2%;
        }
    </style>
    <link rel="stylesheet" href="./../../modal.css">
    <script>
        var currentUserId="<%=currentUser._id%>"
        var currentHandlename="<%=currentUser.handlename%>"   
    </script>
    <script src="/socket.io/socket.io.js" ></script>
    <script>
        var socket=io()
    </script>
    <!-- <script>
        var socket=io()
        function play(){
            document.getElementById('chatAudio').play()
        }
        socket.on('connect',function(){
            socket.emit('store-socket-id-in-db',currentUserId)
        })
    
        socket.on('friend-request-alert',function(handlename){
        play();
        alert('You recived a friend request from '+handlename); 
        // window.location.reload();   
        })
    
        socket.on('friend-request-accepted-alert',function(handlename){
        play();
        alert(handlename+' accepted your friend request');    
        // window.location.reload();   
        })
    
        // socket.on('friend-request-cancel-alert',function(handlename){ 
        //     window.location.reload();   
        //     })
    
        socket.on('recieving-call',function(userHandlename,currentHandlename,callId){
            setTimeout(function(){var answer=confirm(currentHandlename+" is calling you. \n Click OK to answer or Click Cancel to decline")
            if(answer){
                window.open("/call/"+callId+"/?recievingUser="+userHandlename+"&callingUser="+currentHandlename)
            }else{
                socket.emit('decline-call',callId)
            }
        }, 1500); 
        })
    
    </script> -->
</head>
<body>
    <!-- <button id="myBtn">Open Modal</button> -->
    <!--Modal alert box code starts here-->
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <!-- <span class="close">&times;</span> -->
            <h5 id="alertHead" style="color: #17a2b8;"></h5>
            <p id="alertMessage" style="color: #17a2b8;"></p>
            <button id="ok" class="btn btn-info btn-block" style="width:50%;position:relative;left: 25%; display: none;"></button>
            <button id="no" class="btn btn-danger btn-block my-3" style="width:50%;position:relative;left: 25%; display: none;"></button>
        </div>     
    </div>
    <!--Modal alert box code starts here--> 
    <!--Modal alert box script tag--> 
    <script src="./../../modal.js"></script> 

    <audio id="chatAudio" >
        <source src="https://media.geeksforgeeks.org/wp-content/uploads/20190531135120/beep.mp3" type="audio/mpeg">
    </audio>

     <!-- Nav bar code starts here -->
     <nav class="navbar navbar-expand-md navbar-custom" style="background-color: #EAEAEA;">
        <a class="navbar-brand" href="/" style="color: #007bff;">
            <i class="fas fa-video"></i>
            Video-Chat | Home
        </a>

            <i class="fas fa-bars navbar-toggler-icon navbar-toggler"  type="button" data-toggle="collapse" data-target="#collapsibleNavbar"></i>
         
          <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/searchfriend">Search for friends</a>
                  </li>
                <li class="nav-item">
                    <a class="nav-link" href="/<%=currentUser.handlename%>/friends">My friends</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user-circle"></i>
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="background-color:#EAEAEA;">
                          <!-- My profile -->
                        <a class="dropdown-item" href="/profile/<%=currentUser.handlename%>">My Profile</a>
                        <!-- Sign Out -->
                        <form action="/signout" method="POST" class="dropdown-item">
                            <button type="submit" style="background-color:transparent; border:none; color:#007bff; padding: 0;">Sign Out</button>
                        </form> 
                      </div>
                  </li>
            </ul>
        </div>         
      </nav>
      <!-- Nav bar code ends here -->

       <!-- Form container starts here -->
    <div class="container">
        <div class="row justify-content-center mt-4">
            <div class="col-md-5">
                <form class="text-center border border-light p-5" id="form-color" action="/profile/<%=user.handlename%>/edit?_method=PUT" method="POST">
                    <p class="h4 mb-4" style="color:#17a2b8;">Edit Profile</p>
                      <!-- Name -->      
                    <div class="input-group mb-4">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon1"><i class="far fa-user"></i><span>
                        </div>
                        <input type="text"name="userData[name]" value="<%=user.name%>" placeholder="Name" required minlength="4" class="form-control">
                      </div>
                      
                    
                    <!-- About -->      
                    <div class="input-group mb-4">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon1"><i class="fas fa-pen"></i></span>
                        </div>
                        <textarea id="form10" class="md-textarea form-control"  placeholder="About" name="userData[about]" rows="6"><%=user.about%></textarea>
                    </div>
                      
                    <!-- Update button -->
                    <button type="submit" id="submit-button" class="btn btn-info btn-block my-3">Update</button>
                                        
                </form>
    
            </div>
        </div>
    </div>
    <!-- Form container ends here -->

    <!--Script for socket.io functions-->
    <script type="text/javascript">
        
        function play(){
            document.getElementById('chatAudio').play();
        }

        function storeSocketIdInDb(){
            //This event will pass on the current user id to the server side so that the current socket id can be stored in the database
            socket.emit('store-socket-id-in-db',currentUserId)        
        }

        //As soon as we open the page this function will be called
        storeSocketIdInDb();

        // socket.on('connect',function(){
        //     console.log("Doing")
        //     socket.emit('store-socket-id-in-db',currentUserId)
        // })
        
        //This event will be listened whenever a friend eequest is recieved to the current user and then reloads the page
        socket.on('friend-request-alert',function(handlename){
            play();
            okButton.innerHTML="OK";
            okButton.style.display="block";
            displayAlert('You recived a friend request from '+handlename,"New friend request")
            // alert('You recived a friend request from '+handlename); 
            // okButton.onclick=function(){
            //     window.location.reload();
            // }  
        })
        
        //This event will be listened whenever someone accepts our friend request and then reloads the page
        socket.on('friend-request-accepted-alert',function(handlename){
            play(); 
            okButton.innerHTML="OK";
            okButton.style.display="block";
            displayAlert(handlename+' accepted your friend request',"Request accepted")
            // alert(handlename+' accepted your friend request'); 
            // okButton.onclick=function(){
            //     window.location.reload();
            // }  
            //  window.location.reload();   
        })
        
        //This event will be listened whenever someone rejects out friend request and thus reload out page
        // socket.on('friend-request-cancel-alert',function(handlename){ 
        //     window.location.reload();   
        // })
        
        //This event will be listened whenever any user calls us. If we click on accept we will be redirected to the call url in a new tab and if we decline the user who called us will get an alert of call being declined
        socket.on('recieving-call',function(userHandlename,currentHandlename,callId){
            // setTimeout(function(){var answer=confirm(currentHandlename+" is calling you. \n Click OK to answer or Click Cancel to decline")
            //     if(answer){
            //     window.open("/call/"+callId+"/?recievingUser="+userHandlename+"&callingUser="+currentHandlename)
            //     }else{
            //     socket.emit('decline-call',callId)
            //     }
            // }, 1500); 
            //The call notification will come to us 1.5s after the camera of the user who called us will be on
            setTimeout(function(){
                play();
                displayAlert(currentHandlename+" is calling you.","Call")
                okButton.style.display="block";
                okButton.innerHTML="Accept"
                noButton.style.display="block";
                noButton.innerHTML="Decline";
                //If we click any option the modal alert display attribute will be turned to none
                okButton.onclick=function(){
                    modal.style.display="none";
                    noButton.style.display="none";
                    window.open("/call/"+callId+"/?recievingUser="+userHandlename+"&callingUser="+currentHandlename)
                }
                noButton.onclick=function(){
                    modal.style.display="none";
                    noButton.style.display="none";
                    socket.emit('decline-call',callId)
                }
            }, 1500);
        })

        // socket.on('reload-for-user-whoose-request-is-rejected',function() {   
        //     window.location.reload(); 
        // })
    
    </script>

</body>
</html>

